<p>
	
	 Service Date  : <%= patient_form.datetime_select :service_date %> <br>
     Reservation # : <%= patient_form.text_field :reservation_number %>	
  
</p>
<hr>
	<%= patient_form.fields_for :dispenses do |dispense_form| %>
  	<%= render '/patients/dispense_fields', :patient_form => dispense_form %>
  	<% end %>
  	<p><%= patient_form.link_to_add "Add a Dispense Item", :dispenses %></p>
  	