<p class="fields">
  <%= patient_form.label :dispense_code, "Dispense Code" %> <%= patient_form.text_field :dispense_code %>
  <%= patient_form.label :dispense_item, "Dispense Item" %> <%= patient_form.text_field :dispense_item %>
  <%= patient_form.label :price, "Price" %> <%= patient_form.text_field :price %>
  <%= patient_form.hidden_field :_destroy %>
  <%= patient_form.link_to_remove "Remove " %>
</p>
<p><%#= link_to_add_fields "Add Dispense Item", patient_form, :dispenses %></p>
