<h1>Add/Edit Patient</h1>

   <%= form_for @patient do |patient_form| %>
      
    
   	<%= patient_form.label :patient_number %>   <%= patient_form.text_field :patient_number %>
   	<%= patient_form.label :patient_name %>   <%= patient_form.text_field :patient_name %>
   	 
   	  <br>
    
        <%= patient_form.fields_for :consults , @patient.consults.build do |consult_form| %>
          Service Date  : <%= consult_form.datetime_select :service_date %> <br>
    	  Reservation # : <%= consult_form.text_field :reservation_number %>

        <% end %>
        <br>
      <%= patient_form.submit %>
    <% end %>
