
<p>
<%= "#{patient.patient_number}"%>
<%= "#{patient.patient_name}"%>

<%= link_to 'show', patient_path(patient) %> |
<%=link_to 'New Consult', new_patient_consult_path(patient.id) %> |
<%= link_to 'Edit', edit_patient_path(patient) %> |
<%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %>

</p>
