<h1>Patient Name: <%= patient.patient_name %> </h1>


<table>
        <tr>
                <td>
                        Patient Name: <%=patient.patient_name%>
                </td>
                <td>
                        Principal Member: <%=patient.principal_member%>
                </td>
        <tr>

        <tr>
                <td>
                        Medical Aid: <%=patient.medical_aid%>
                </td>
                <td>
                        Medical Aid #: <%=patient.medical_aid_number%>
                </td>
        </tr>
 </table>
 

