
<tr>
<td><%= "#{patient.patient_number}"%></td> 
<td><%= "#{patient.patient_name}"%> </td>
<td><%= link_to 'Show', patient %> </td>
<td><%= link_to 'Edit', edit_patient_path(patient) %> </td>
<td> <%= link_to 'Delete', patient, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>

